body {
    background-color: green;
}

.pagina{
    background-image: url('chaosisland.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    text-align: center;

}

#fotos {
    width: 100%;
    height: auto;
}

.pagina h1 img{
    width: 70%;
    height: 400px;
    float: left;
    color:  #50C878;
    left: 0;
    text-align: center;
    top: 0;
    position: relative;
    overflow: auto;
}

.pagina h2 img{
    width: 30%;
    height: 80px;
    float: left;
} 